.card {
  height: 390px;
}

.card-deck {
  margin-bottom: 16px;
  a {
    text-decoration: none;
    color: black;
  }
}

.card-footer {
  padding: 0.75rem 1.25rem;
  padding-top: 0.75rem;
  padding-right: 1.25rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  background-color: rgba(0, 0, 0, 0.03);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
  display: flex;
  justify-content: space-between;
}

.card-footer {
  background-color: rgba(3, 102, 107, 0.3);
  p {
    margin: 0;
  }
}

.price p {
  font-size: 13px;
}

.ratings {
  color: $monkee-yellow;
  display: flex;
  justify-content: center;
  font-size: 12px;
}

.avatar-text-center {
  background-color: $monkee-green;
  text-align: center;
  border-bottom: 1px solid #F0F0F0;
  .avatar-xtra-large {
    margin: 8px;
  }
}


