.navbar-lewagon {
  justify-content: space-between;
  background: white;
  padding-bottom: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  padding-right: 3rem;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  font-family: $logo-font;
  color: $monkee-green;
  font-size: 35px;
  padding: 0;
  padding-left: 3rem;
}
